<div id="carList">
    <table class="table table-condensed">
        <tbody>
        <% carTr.forEach(function (cars) { %>
        <tr class="carTr">
            <% cars.forEach(function (car) { %>
                <td id="<%= car.id %>" class="carTd">
                    <p id="listViewImg">
                        <img class="img-rounded" width="150" height="100" src="<%= car.photo %>">
                    </p>
                    <p id="carName">
                        <%= car.brand %>, <%= car.model %>
                    </p>
                    <p id="carPrice">
                        <%= car.price %> BYN
                    </p>
                    <p id="otherInfo">
                        <%= car.year %> г., <%= car.mileage %> км
                    </p>
                </td>
            <% }); %>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>