<div id="carList">
    <h4>Количество машин: <%= cars.length %></h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Фото</td>
            <td>Марка</td>
            <td>Модель</td>
            <td>Цена</td>
            <td>Другая информация</td>
            <td width="70"></td>
        </tr>
        </thead>
        <tbody>
        <% cars.forEach(function (car) { %>
        <tr class="carTr">
            <td><img class="listImg" height="100" width="130" src="<%= car.photo %>"></td>
            <td><%= car.brand %></td>
            <td><%= car.model %></td>
            <td><%= car.price %> BYN</td>
            <td>
                Пробег: <%= car.mileage %> <br>
                Топливо: <%= car.gasoline %> <br>
                КПП: <%= car.transmission %> <br>
                Объем двигателя: <%= car.capacity %>
            </td>
            <td id="<%= car.id %>">
                <button type="button" class="deleteButton btn hidden">
                    <span class="glyphicon glyphicon-remove"></span>
                </button> <br>
                <button type="button" class="editButton btn hidden">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>